@{
    ViewData["Title"] = "User Page";
}

<div class="d-flex justify-content-between mb-3">
    <p class="fs-4 fw-bold">Job List</p>
</div>

<div class="card table-responsive-xl" id="jobList">

</div>

@section Scripts {
    <script>
        let queryParameters = {
            PageNumber: 1,
            PageSize: 5,
            SearchTerm: "",
            SortColumn: "",
            SortOrder: "asc"
        }

        $(document).ready(function () {
            getJobList();
        });

        function getJobList() {
            $.ajax({
                url: "/Home/GetJobList",
                data: queryParameters,
                type: "GET",
                dataType: "html",
                success: function (response) {
                    $("#jobList").html(response);
                },
                error: function (response) {
                    toastr.error("Error in data");
                }
            })
        };

    </script>
}
