@using TestAssignment.Repository.ViewModel;
@model ReviewModal;

<form id="reviewForm">
    <div class="modal-body d-flex w-100 gap-3 flex-column">

        <input type="text" asp-for="JobUserMappingId" hidden>
        <div class="form-floating">
            <select class="form-select" id="statusId" aria-label="Select Role" asp-for="StatusId"
                asp-items="Model.StatusList">
                <option value="" selected>Select Unit</option>
            </select>
            <label for="statusId">Status*</label>
        </div>

        <div class="form-floating">
            <textarea class="form-control" placeholder="Write a description here" asp-for="Comment"
                id="comment"></textarea>
            <span asp-validation-for="Comment" class="text-danger"></span>
            <label for="comment">Comment</label>
        </div>

    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Update</button>
        <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
    </div>
</form>

<script>
    // Post - Add Category
    $("#reviewForm").on("submit", function (e) {
        e.preventDefault();
        $.ajax({
            url: "/Admin/UpdateReview",
            type: "POST",
            data: $(this).serialize(),
            success: function (response) {
                if (response.success) {
                    reviewModal.hide();
                    toastr.success(response.msg);
                    getApplicationList()
                } else {
                    if (response.success == false) {
                        toastr.error(response.msg);
                    }
                }
            },
            error: function () {
                toastr.error("An error occurred while saving the Review.");
            }
        });
    });
</script>